.primary{
    color: #FFFFFF;
    float: left;
    background: skyblue;
}

.mainDiv{
    display: block;

}

.sidebar{
    margin-top: 20px;
}

.navbarstyle{
    margin-left: 30px;
}

